@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #282828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --font-noto: "Noto Serif JP", "serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #124f53;
    --foreground: #f8f8f8;
  }
}

@theme {
  --color-black: #282828;
  --color-turquoise: #04c0aa;
  --color-white: #f8f8f8;
  --color-sky: #a8d0e6;
  --color-gray: #e0e0e0;
  --color-hover-gray: #d0d0d0;
  --color-main: #124f53;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-mono;
  @apply break-words;
  @apply font-medium;
}

@theme {
  --animate-fade-in: fadeIn 1s ease-in-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

h1 {
  @apply text-2xl font-bold select-none text-black;
}

h2 {
  @apply text-xl text-gray-700 font-bold select-none;
}

p {
  @apply text-gray-800 text-base;
}
